/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
a {
  text-decoration: none;
 }

div.alert {
  border: 2px solid #aaa;
  padding: 10px;
}

div.flash.success { border: 2px solid green; color: green; }
div.flash.error   { border: 2px solid red;   color: red;   }
div.flash.notice  { border: 2px solid blue;  color: blue;  }

.clear { clear: both; }

div.nav {
  border-bottom: 1px solid #aaa;
  margin-bottom: 20px;
  padding: 10px 0 0 0;
}

div.nav h1 {
  font-family: 'Patrick Hand', 'cursive';
  font-size: 36px;
  float: left;
  margin: 5px 0 5px 0;
}

div.nav a { text-decoration: none !important; }

div.nav ul {
  float: left;
  list-style: none;
  clear: right;
  margin: 0 0 0 1em;
  padding: 0;
}

div.nav ul li {
  float: left;

}

div.nav ul li a {
  display: inline-block;
  width: auto;
  padding: 8px 14px 8px 14px;
  background: #eee;
  color: #aaa;
  text-decoration: none;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  margin-left: 2px;
}
div.nav ul li a:hover {
  background: #aaa;
  color: #eee;
}

.main-body {
  width: 500px;
  margin: auto;
}

h2 {
-webkit-margin-before: 0;}


textarea {
  width: 250px;
  height: 100px;
}

table {
  width: 500px;
}

th {
  border-bottom: 1px solid #aaa;
  text-align: left;
}

h3 {
  font-weight: normal;
}
